div.container-fluid
    div.nav.mt-2.mb-2
        a.nav-link(href="/view" class=active == 'view' ? 'active' : '') view
        a.nav-link(href="/present" class=active == 'present' ? 'active' : '') present
        a.nav-link(href="/make" class=active == 'make' ? 'active' : '') make
        a.nav-link.ml-auto(href="/login" class=active == 'login' ? 'active' : '') login