html(lang="en")
head
    meta(charset="UTF-8")
    title chute
    link(rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="/css/presenter.css")

body
    block content