extends layout

block content
    link(rel="stylesheet" type="text/css" href="/css/open-iconic-bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="/css/maker.css")

    div.container
        div.row
            div.col-lg-6.offset-lg-3.col-sm-8.offset-sm-2
                include partials/flash-alerts

                form(method="post" action="/make")
                    div.form-group
                        label presentation id
                        input.form-control(type="text" placeholder="enter presentation id" name="presentationID")
                    div.form-group
                        label presentation name
                        input.form-control(type="text" placeholder="enter a presentation name" name="presentationName")
                    div.form-group
                        label slide count
                        input.form-control(type="number" placeholder="enter number of slides" name="slideCount")
                    div.form-group
                        label slide data
                        textarea.form-control(type="text" placeholder="enter slide data" name="slideData" rows="10")
                    div.form-group.text-center
                        button.btn.btn-primary(type="submit")
                            span(aria-hidden="true").oi.oi-hard-drive
                            | &nbsp;
                            | save