html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title liveslide
    link(rel="stylesheet" type="text/css" href="/css/open-iconic-bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="/css/maker.css")

body
    include partials/app-header




    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/js/presenter.js")