html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title chute
    link(rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="/css/finder.css")

body
    div.container-fluid
        div.row
            div.col-md-12
                h1.display-1.text-center liveslide
                    sub.h6 beta
                hr

        div.row
            div.col-lg-6.offset-lg-3.col-sm-8.offset-sm-2
                form(method="post" action="/present").mx-auto
                    div.form-group
                        input(type="text" name="presentationID" placeholder="enter a presentation id").form-control.form-control-lg
                    div.form-group
                        input(type="submit" value="present").form-control.btn.btn-dark