extends layout

block content

    div.container-fluid
        div.row
            div.col-lg-6.offset-lg-3.col-sm-8.offset-sm-2
                include partials/flash-alerts

                form(method="post" action="/present").mx-auto
                    div.form-group
                        input(type="text" name="presentationID" placeholder="enter a presentation id" autocorrect="off" autocapitalize="none").form-control.form-control-lg
                    div.form-group
                        input(type="submit" value="present").form-control.btn.btn-dark