extends layout

block content
    link(rel="stylesheet" type="text/css" href="/css/open-iconic-bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="/css/presenter.css")

    input(id="namespace" type="hidden" value=presentation.nsp)

    div.controls
        div.container-fluid
            div.row
                div.col-md-12
                    div.d-flex.flex-row
                        a(id="control-prev" class="btn btn-secondary btn-lg p-2 m-1" href="javascript:;")
                            span(aria-hidden="true").oi.oi-arrow-left
                            | &nbsp;
                            | prev
                        a(id="control-next" class="btn btn-secondary btn-lg p-2 m-1" href="javascript:;")
                            span(aria-hidden="true").oi.oi-arrow-right
                            | &nbsp;
                            | next
                        a(id="control-reset" class="btn btn-danger btn-lg p-2 m-1" href="javascript:;")
                            span(aria-hidden="true").oi.oi-action-undo
                            | &nbsp;
                            | reset
                        a(id="control-pause" class="btn btn-warning btn-lg p-2 m-1" href="javascript:;")
                            span(aria-hidden="true").oi.oi-media-pause
                            | &nbsp;
                            | pause
                        a(id="control-resume" class="btn btn-success btn-lg p-2 m-1" href="javascript:;")
                            span(aria-hidden="true").oi.oi-media-play
                            | &nbsp;
                            | resume
            div.row
                div.col-md-12
                    p.samp.m-1.align-left: samp #[span#client-count 0] clients connected
                    p.samp.m-1.align-right: samp.text-right current slide: #[span#current-slide 0] / #{presentation.slideCount}
                    p.samp.m-1.align-right: samp.text-right presentation id: #{presentation.nsp}
                    p.samp.m-1.align-right: samp.text-right presentation name: #{presentation.name}
                    p.samp.m-1.align-right: a(href="/make/"+presentation.nsp): samp.text-right edit this presentation

    div.embed-responsive.embed-responsive-16by9
        iframe(src="/view/" + presentation.nsp).embed-responsive-item

    script(src="/socket.io/socket.io.js")
    script(src="/js/presenter.js")