html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title liveslide
    link(rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="/css/finder.css")

body
    include partials/app-header

    div.container-fluid
        div.row
            div.col-lg-6.offset-lg-3.col-sm-8.offset-sm-2
                if messages.error
                    div.alert.alert-danger= messages.error
                form(method="post" action="/view").mx-auto
                    div.form-group
                        input(type="text" name="presentationID" placeholder="enter a presentation id").form-control.form-control-lg
                    div.form-group
                        input(type="submit" value="view").form-control.btn.btn-dark