extends layout

block content
    body
        link(rel="stylesheet" href="/css/reveal.css")
        link(rel="stylesheet" href="/css/theme/night.css")

        input(id="namespace" type="hidden" value=presentation.nsp)
        div(class="reveal")
            div(class="slides") !{presentation.slideData}

    script(src="/js/reveal.js")
    script(src="/socket.io/socket.io.js")
    script(src="/js/viewer.js")