$light-gray: #e6e6e6

.slides-container
  border-right: 1px solid $light-gray

.slides-list
  list-style: none
  max-height: 360px
  overflow-y: auto
  padding-left: 0px

.slides-list-item
  padding: 10px
  transition: padding .25s

  & span
    line-height: 2
    transition: padding .25s

  &:hover
    color: #007bff

  &:hover
    span
      padding-left: 10px

  &:nth-child(2n-1)
    background-color: $light-gray

  &.active
    background-color: #007bff
    color: #fff